	<ion-view view-title="In&iacute;cio" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
				<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 light positive-bg ink"  ng-href="#/remedios_naturais/encontrar/-1" >
					<i class="icon ion-ios-search-strong" ></i>
					<p>Encontrar</p>
				</a>
				<a class="col-33 light positive-900-bg ink"  ng-href="#/remedios_naturais/categorias" >
					<i class="icon ion-android-apps" ></i>
					<p>Categorias</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
