	<ion-view view-title="Sobre n&oacute;s" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
		<div class="text-center">
    <img class="avatar relative" ng-src="data/images/header/logoremedios.png" />
    <p>Remedios Naturais v1.0</p>
</div>
<br/>
<div class="list card">
  <a class="item item-icon-left" ng-click="openURL('http://fb.com/steffandsv')" >
    <i class="positive icon ion-social-facebook"></i>
    Adicione-me no Facebook
  </a>    
    
  <a class="item item-icon-left" ng-click="openURL('http://twitter.com/steffandiorgy')" >
    <i class="calm icon ion-social-twitter"></i>
   Siga-me no Twitter
  </a>   
   <a class="item item-icon-left" ng-click="openURL('mailto:steffanvernillo@gmail.com')" >
    <i class="icon ion-android-mail royal"></i>
    Entre em contato<br/>
    <span>
        Email: steffanvernillo@gmail.com
    </span>
  </a>
</div>
<br/>
<div class="text-center">
    <p>&copy; 2018 <a ng-click="openURL('http://steffan.esy.es')" >Steffan</a><br/>Código Aberto</p>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
