	<ion-view view-title="Categorias" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-categorias" class=" page-categorias">
		
			<!-- code refresh -->
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_categoriass" placeholder="Search" aria-label="filter categoriass" />
				</div>
			</ion-list>
			<!-- ./code search -->


			<!-- code listing -->
			<div class="list animate-none">
				<div class="item-thumbnail-3 card" ng-repeat="item in categoriass | filter:filter_categoriass as results" ng-init="$last ? fireEvent() : null"><a class="item item-colorful item-thumbnail-left item-text-wrap"  href="#/remedios_naturais/encontrar/{{item.id}}">
					<img alt="" class="full-image" ng-src="{{item.imagem}}" />
					<h3 class=""  ng-bind-html="item.titulo | to_trusted"></h3>
				<i class="icon ion-android-more-horizontal pull-right"></i>
				</a></div>
			</div>
			<!-- ./code listing -->


			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>No results found...!</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
